
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: Roboto;
    margin: 0;
}
/*header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul li {
    padding-left: 2em;
}
/*section1*/
#section1{
    background-image: url("Images/backgroung_image.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 70vh;width: auto;
    margin: 0.5em;
}
#section1 img{
    width: 17%;
    height: auto;
}
#section1 p{
    color: #FFF;
    font-weight: bold;  
}
/*section2*/
#section2{
    width: 60vw; margin: auto;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#section2 article{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#section2 article div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 1.5em;padding-right: 1.5em;
}
#section2 #quote{
    width: 50%; margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 1.5em;padding-right: 1.5em;

}
#section2 #quote p{
    color: #777777;
}
/*footer*/
footer{
    background-color: #9842f5;
    color: #FFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
footer #social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;margin: auto;
    color: #CCC;
}
footer #social i{
 font-size: 1.5em;
}

footer #info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
footer #info li{
    padding-left: 0;
}
.info__section p:nth-of-type(1){
    color: #CCC;
}