@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: Roboto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul li {
    padding-left: 2em;
}